body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1475924156734-496f6cac6ec1?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    overflow: hidden;
}


h2,
#bsp {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 30px;
    text-align: center;
    color: aliceblue;
    text-shadow: 2px 2px 4px rgb(94, 3, 130);
}

.clock {
    display: flex;


}

.clock div {
    margin: 5px;
    margin-top: 3px;
    position: relative;


}

.clock span {
    width: 100px;
    height: 80px;
    background: slateblue;
    opacity: .7;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-shadow: 2px 2px 4px black;
    font-weight: 550;
    border: 0px double;
    border-radius: 12px;
}

.clock .text {
    height: 30px;
    font-size: 12px;
    text-transform: uppercase;
    background: darkblue;
    letter-spacing: 2px;
    opacity: 0.8;
    border: 0px;
    border-radius: 0px;
    margin-top: 2px;
}

.clock #ampm {
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: aqua;
    margin-left: 8px;
}

#bsp {
    bottom: 0;
    width: 60px;
    height: 30px;
    font-size: 22px;
    background-color: aqua;
    color: rgb(247, 242, 236);
    letter-spacing: 1px;
    border: 0px;
    border-radius: 5px;
    opacity: .8;
    font-family: sans-serif;
    font-weight: 550;

}